.ICEauthority
.Xauthority
.aspell.en.prepl
.aspell.en.pws
.atom/*
.bash_history
.bash_logout
.cache/*
.cmake/*
.compiz/*
.config/Atom/*
.config/Canonical/*
.config/QtProject.conf
.config/Trolltech.conf
.config/VirtualBox/*
.config/autostart/*
.config/cmus/*
.config/compiz-1/*
.config/configstore/*
.config/connectivity-service/*
.config/dconf/*
.config/evolution/*
.config/filezilla/*
.config/freerdp/*
.config/gedit/*
.config/gnome-games/*
.config/gtk-2.0/*
.config/gtk-3.0/*
.config/ibus/*
.config/kactivitymanagerdrc
.config/libaccounts-glib/*
.config/libreoffice/*
.config/mimeapps.list
.config/nautilus/*
.config/nitrogen/*
.config/okularrc
.config/pavucontrol.ini
.config/pulse/*
.config/qutebrowser/*
.config/ubuntu-system-settings/*
.config/ubuntu-terminal-app/*
.config/ubuntu-ui-toolkit/*
.config/unity/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/webbrowser-app/*
.default_bashrc
.dmrc
.dropbox-dist/*
.dropbox/*
.emacs.d/elpa/*
.ghc/*
.gimp-2.8/*
.gitconfig
.gnupg/*
.histfile
.irssi/*
.java/*
.julia/*
.julia_history
.lastpass/*
.lesshst
.light/*
.local/*
.macromedia/*
.mozilla/*
.node_repl_history
.notify-osd
.npm-global/*
.npm/*
.npmrc
.pgloader/*
.pki/*
.putty/*
.python_history
.radare2/*
.saves/*
.ssh/*
.sudo_as_admin_successful
.texlive2016/*
.texlive2017/*
.wget-hsts
.xinputrc
.xsession-errors
.xsession-errors.old
.zcompdump
disconnect_monitor.sh
examples.desktop
monitor_connect.sh
Documents/*
Downloads/*
Dropbox/*
Music/*
Pictures/*
playspace/*
Videos/*
workspace/*
